// COLORS
$color-eggshell: #f4f1de;
$color-burnt-sienna: #e07a5f;
$color-delft-blue: #3d405b;
$color-cambridge-blue: #81b29a;
$color-sunset: #f2cc8f;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-red: red;
$color-green: green;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// BOX SHADOW
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.08);
