.App {
  text-align: center;
<<<<<<< HEAD
  background-color: #3d405b;
=======
  background-color: #285888;
>>>>>>> 19e793fc240d9352ea849f07dd22e05d529a2a4b
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
