body {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-delft-blue;
  padding: 3rem;
}
.heading-primary {
  color: $color-delft-blue;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
  }

  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 3s;
  }
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  padding-left: 1rem;
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
}

.workout-text {
  font-size: 1.8rem;
}
