.footer {
  background-color: $color-grey-dark-2;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-white;

  &__logo-box {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }
}
