.about {
  list-style: square;
  padding: 6rem;

  &__heading {
    color: $color-delft-blue;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;

    &--main {
      display: flex;
      justify-content: center;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 2rem;
      animation-name: moveInLeft;
      animation-duration: 3s;
    }

    &--sub {
      display: block;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation-name: moveInRight;
      animation-duration: 3s;
    }
  }

  &__item {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
